.body{
    margin: 2%;
    background-image: url("bgpink.jpg");
}
.my-container{
    background-color: #F8F9FA;
    border-radius: 1%;
    padding-bottom: 2%;

}
.my-row{
    border: 3px solid red;
}
.my-col{
  text-align:center;
}
    /* Tooltip container */
.my-header{
    background-color: #F8F9FA;
    color: #c90016;
    border-bottom: 5px solid black;
}

.img-responsive{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:12vw;
        padding-top: 10%;
}

.carousel-control-prev-icon{
  filter:invert(1);
}
.carousel-control-next-icon{
  filter:invert(1);
}
.fa-github{
  font-size:8vw;
  color:#24292e;
}
.fa-linkedin{
  font-size:8vw;
  color:#0e76a8;
}
.fa-youtube{
  font-size:150px;
  color:#FF0000;
}
.fa-download{
  font-size:50px;
  color:#c90016;
}
.fab:hover {
  color:#c90016;
}
.fas:hover {
  opacity: 50%;
}
.big-font{
    font-size: large;
}
.background-resume{
  background-color: #F8F9FA;
}
.tooltip {
position: relative;
display: inline-block;
border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
/* Tooltip text */
.tooltip .tooltiptext {
visibility: hidden;
width: 120px;
background-color: black;
color: #fff;
text-align: center;
padding: 5px 0;
border-radius: 6px;

/* Position the tooltip text - see examples below! */
position: absolute;
z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
visibility: visible;
}
