body {
  margin: 2%;
	background: linear-gradient(-45deg, #3b8d99,#6b6b83,#aa4b6b);
	background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  padding-top:30px;
  padding-bottom: 30px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.my-container{
    background-color: #F8F9FA;
    border-radius: 1%;
    padding-bottom: 2%;

}
  .my-logo:hover {
    opacity: 70%;
  }

.my-row{
    border: 3px solid red;
}
.my-col{
  text-align:center;
}
    /* Tooltip container */
.my-header{
    background-color: #F8F9FA;
    color: #c90016;
    border-bottom: 5px solid black;
}

.img-responsive{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:12vw;
        padding-top: 10%;
}

.carousel-control-prev-icon{
  filter:invert(1);
}
.carousel-control-next-icon{
  filter:invert(1);
}
.fa-github{
  font-size:8vw;
  color:#24292e;
}
.fa-medium{
  font-size:8vw;
  color:#292929;
}
.fa-linkedin{
  font-size:8vw;
  color:#0e76a8;
}
.fa-youtube{
  font-size:8vw;
  color:#FF0000;
}
.fa-download{
  font-size:50px;
  color:#c90016;
}
.fab:hover {
  color:#c90016;
}
.fas:hover {
  opacity: 50%;
}
.big-font{
    font-size: large;
}
.background-resume{
  background-color: #F8F9FA;
}
.tooltip {
position: relative;
display: inline-block;
border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
/* Tooltip text */
.tooltip .tooltiptext {
visibility: hidden;
width: 120px;
background-color: black;
color: #fff;
text-align: center;
padding: 5px 0;
border-radius: 6px;

/* Position the tooltip text - see examples below! */
position: absolute;
z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
visibility: visible;
}


body{
  font-family: Helvetica, Arial, sans-serif;
}
.container{
  width: 50%;
  margin: 0 auto;
}
@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}

/* code from: https://codepen.io/milacarrera/pen/pEPoZz*/
.bar{
  background-color: #EEE;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.bar::before{
  content:  attr(data-skill);
  background-color: #f3b0ff;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.front::before{
  background-color: #23cba7;
}
.bar.back::before{
  background-color: #23cba7;
}

.bar.learning::before{
  width: calc(20% - 10px);
}
.bar.basic::before{
  width: calc(50% - 10px);
}
.bar.intermediate::before{
  width: calc(70% - 10px);
}
.bar.advanced::before{
  width: calc(80% - 10px);
}
.bar.expert::before{
  width: calc(100% - 10px);
}
